EU4_PATH="/eu4"
ES_USER=elastic
ES_PASSWORD=passwordToCHANGe
ES_KEYSTORE_PASSWORD=passwordToCHANGe
STACK_VERSION=9.2.1
CLUSTER_NAME=ES
# External port ES is binded to
ES_EXTERNAL_PORT=
ES_PORT=9200
ES_HOST="es"
ES_MEM_LIMIT=5368709120
ES_SSL_CERT=/cert/http_ca.crt
ES_SSL_KEY=/cert/server.key
DEFAULT_PAGE_SIZE=100
DEFAULT_PAGE=1
ELASTIC_SECURITY=true
# Api url
API_URL=
# Allowed CORS origins
CORS_ORIGINS=