EU4_PATH="/eu4"
ES_USER=elastic
ES_PASSWORD=passwordToCHANGe
ES_KEYSTORE_PASSWORD=passwordToCHANGe
STACK_VERSION=9.2.1
CLUSTER_NAME=ES
ES_EXTERNAL_PORT=9200
# Remote Server Port
ES_PORT=
# Remote ES Host
ES_HOST=


ES_MEM_LIMIT=5368709120
ES_SSL_CERT=/cert/http_ca.crt
ES_SSL_KEY=/cert/server.key
DEFAULT_PAGE_SIZE=100
DEFAULT_PAGE=1
ELASTIC_SECURITY=true
API_URL=localhost:8000
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
EU4_LOCAL_PATH=/mnt/c/Program Files (x86)/Steam/steamapps/common/Europa Universalis IV